# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\work\Perfume\nuoc hoa\Perfume\souces-website\thom-parfum2\public\assets\videos\video1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
